.card {
    border-radius: 10px;
    background-color: #161616;
    border: 1px solid #2d2f38;
    height: 320px;    
    overflow: hidden;
    position: relative;

    .projectImg {
        min-width: 100%;
        max-width: 100%;
        min-height: 225px;
        max-height: 225px;
        object-fit: cover;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        transition: 300ms;
        cursor: pointer;
    }

    .projectImg:hover {
        scale: 1.05;
    }

    .card_title {
        padding-left: 15px;
    }

    .card_icons {
        display: flex;
        justify-content: center;
        gap: 15px;
        align-items: center;
        
        .card_icon {
            height: 20px;
            width: 20px;
            cursor: pointer;
            padding: 5px;
            color: #c5c8d0;

            &.github {
                height: 22px;
                width: 22px;
            }
        }
    }
}

[glow] .card {
    background-color: rgba(255, 255, 255, 0.03);
    border-color: var(--glow-color);
}

p {
    color: #c5c8d0;
}