.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}
  
.modal-content {
    z-index: 1000;
    background-color: #161616;
    border: 1px solid #2d2f38;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    position: relative;

    h2 {
        color: #fafaf9;
    }
}

.modal-sub-part {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .modal-technologies p {
        font-weight: bold;
    }
}

.modal-description {
    color: #c5c8d0;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

.modal-icons {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 10px;

    .github {
        height: 22px;
        width: 22px;
    }
    
    .arrow {
        height: 20px;
        width: 20px;
    }
}