.top-part {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;

  h1 {
    font-size: 40px;
    margin-bottom: 0;
  }

  h1, h2 {
    color: #fafaf9;
  }

  p {
    color: #c5c8d0;
  }
  
  img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
  }
}

.projects {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 25px;
  row-gap: 25px;
  max-width: 100%;
}

.skills, .education {
  margin-top: 100px;

  .title {
    display: inline;
    padding: 5px;
    padding-top: 0;
    padding-bottom: 3px;
    border: 1px solid #facc15;
    border-radius: 6px;
    background-color: #101010;
    font-weight: bold;
    color: #fafaf9;
  }

  h2 {
    color: #fafaf9;
    font-size: 30px;
  }

  h3 {
    color: #fafaf9;
  }

  p {
    color: #c5c8d0;
  }
}

.technologies {
  display: flex;
  gap: 50px;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 25px;

  div {
    flex: 1;
    p {
      line-height: 24px;
    }
  }

  h3 {
    font-size: 20px;
  }

  svg {
    height: 50px;
    width: 50px;
    transition: 300ms;
  }

  svg:hover {
    scale: 1.1
  }

  span {
    display: inline;
    padding: 5px;
    padding-top: 0;
    padding-bottom: 3px;
    border: 1px solid #facc15;
    border-radius: 6px;
    background-color: #101010;
    font-weight: bold;
  }
}

.schools {
  display: flex;
  align-items: center;
  gap: 50px;

  img {
    height: 50px;
    width: 50px;
    transition: 300ms;
  }

  img:hover {
    scale: 1.1
  }

  div {
    flex: 1;
    p {
      line-height: 24px;
    }
  }

  span {
    display: inline;
    padding: 5px;
    padding-top: 0;
    padding-bottom: 3px;
    border: 1px solid #facc15;
    border-radius: 6px;
    background-color: #101010;
    font-weight: bold;
  }
}

footer {
  margin-top: 100px;
  margin-bottom: 50px;

  .title {
    display: inline;
    padding: 5px;
    padding-top: 0;
    padding-bottom: 3px;
    border: 1px solid #facc15;
    border-radius: 6px;
    background-color: #101010;
    color: #fafaf9;
  }

  h2 {
    color: #fafaf9;
  }
  
  p {
    color: #facc15;
    font-weight: bold;
  }

  .container_contact-cards {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1024px) {
  .projects {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 25px;
    row-gap: 25px;
  }

  .technologies, .schools {  
    div {
      p {
        line-height: 28px;
      }
    }
  }

  footer {
    .container_contact-cards {
      margin-top: 25px;
      display: flex;
      flex-direction: column;
      gap: 25px;
    }
  }
}

@media screen and (max-width: 768px) {
  .top-part {
    gap: 25px;
    align-items: center;

    h1 {
      font-size: 30px;
    }

    h2 {
      font-size: 20px;
    }

    img {
      height: 150px;
      width: 150px;
    }
  }

  .projects {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    column-gap: 25px;
    row-gap: 25px;
  }

  .skills {
    margin-top: 50px;
  }

  .schools {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
  }

  .technologies {  
    flex-direction: column;
    gap: 25px;
  }

  footer {
    margin-top: 50px;
  }
}

@media screen and (max-width: 480px) {
  .top-part {
    img {
      height: 100px;
      width: 100px;
    }
  }
}