body {
  margin: 0 20%;
  background-color: #16161d;
}

h1, h2, h3, p {
  font-family: 'Segoe UI';
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #16161d;
}

::-webkit-scrollbar-thumb {
  background: #88a0eb;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #7186c5;
}